extends layout

block content
	nav(class='navbar navbar-default navbar-fixed-top')
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') #{title}
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav
					li(ui-sref-active='active')
						a(href='#' ui-sref='audience') Audience
					li(ui-sref-active='active')
						a(href='#' ui-sref='board' ui-sref-active='active') Board
					li(ui-sref-active='active')
						a(href='#' ui-sref='debug' ui-sref-active='active') Debug
	.container(ng-controller='myController')
		section(ui-view)
			h1= title
			p Welcome to #{title}
			canvas(id='doughnut' class='chart chart-doughnut' chart-data='data' chart-labels='labels' chart-legend='true')
			canvas(id='line' class='chart chart-line' chart-data='[data]' chart-labels='labels' chart-legend='true')
		script(src='/js/main.js')